.modal-container {
    /* background-color: rgba(255, 255, 255, 0.7); */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.modal {
    margin: auto;
    border-radius: 5px; 
    width: 450px;
    height: 495px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 10px 10px 10px 16px;
    display: flex;
    justify-content: space-between;
}

.modal-form {
    border-top: 1px;
    padding:  10px 16px 16px 16px;
}

.modal-close {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    /* position: absolute;
    right: 10px; */
}