.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 5px; 
    margin: auto;
    width: 432px;
    height: 495px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 10px 16px;
}

.modal-body {
    border-top: 1px;
    padding: 16px;
}