/* icons */
.hover:hover {
    cursor: pointer;
    transition: 0.5s;
}

.sloth-logo {
    width: 50px;
    height: 50px;
    /* margin-left: 10px; */
}

/* .home-icon-container {
    padding-bottom: 5px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.home-icon-container a:visited {
    border-bottom: 3px solid rgb(111, 78, 55);
} */

.home-icon {
    width: 55px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 7px;
}

.home-icon:hover {
    background-color: #e4e4e4;   
}

.profile-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95px;
    padding: 0px 10px;
    margin-right: 0px;
    height: 40px;
    gap: 3px;
}

.profile-icon-container.hover:hover {
    background-color: #F2F3F5;
    border-radius: 40px;
    transition: 0.5s;
}

.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0.5px solid rgba(170, 169, 169, 0.808);
}

.profile-link {
    text-decoration: none;
    color: black;
}

.icon-button {
    --button-size: calc(60px * 0.7);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex; /* centering icon directly in middle */
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: #d1d5db; 
    transition: 0.5s;
}

.icon-button img {
    width: 20px;
    height: 20px;
}

.icon-left {
    --button-size: calc(60px * 0.7);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-left img {
    width: 20px;
    height: 20px;   
}

.navbar-icons {
    width: 51%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: chartreuse; */
    margin-left: 10px;
}

/* navbar */
.navbar {
    height: 56px;
    background-color: white;
    box-shadow: 0px 15px 10px -15px rgba(212, 214, 216, 0.801);
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 3;
}

.navbar-nav {
    max-width: 100%; /* 100% of parent container */
    height: 100%;  /* 100% of parent container */
    display: flex;
    justify-content: flex-end; /* children start at end of parent container */
    padding-right: 16px;
    align-items: center;
}

.navbar-item {
    width: calc(60px * 0.8); /* taking nav size var (60px) * 80% using calc fxn */
    display: flex; /* centering icon */
    align-items: center;
    justify-content: center;
}

/* dropdown menu */
.dropdown {
    position: absolute;
    top: 54px;
    width: 360px;
    transform: translateX(0%) translateZ(1px); /* translateX(-45%); moving menu to the left using transform property to translate it 45% */ 
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;  /* hide any child ele if they overlap this container */
    box-shadow: 0 0 10px rgba(184, 188, 192, 0.801);
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: #EBEDF0;
    cursor: pointer;
    transition: 0.5s;
}

.logout-text {
    padding-left: 10px;
}