.news-feed-container {
    background-color: #f0f2f5;
    display: grid;
    grid-template-columns: 30% 38% 30%;
    justify-content: center;
    gap: 15px;
    grid-template-rows: auto;
    grid-template-areas: 
    "leftbar main rightbar"
}

.navigation-container {
    grid-area: leftbar;
    overflow: hidden;
    position: fixed;
    height: 500px;
    width: 25%;
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-feed-post-container {
    grid-area: main;
    overflow: auto;
}

.right-bar-container {
    grid-area: rightbar;
    overflow: hidden;
    position: fixed;
    right: 0;
    height: max-content;
    width: 25%;
    /* background-color: lavender; */
    padding-bottom: 5px;
    margin-right: 15px;
    border-bottom: 0.5px solid rgba(170, 169, 169, 0.808);
}