.post-item-profile-container {
    /* background-color: green; */
    width: 100%;
}

.post-index-item-container {
    /* background-color: red; */
    width: 95%;
    background-color: white;
    padding: 5px;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(184, 188, 192, 0.801);
}

.post-index-item {
    /* border: 1px solid black; */
    margin: 10px 0px;
}