.profile-page-container {
    display: flex;
    /* justify-content: center; */
    /* justify-self: center; */
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 250px 0px 250px;
    /* background-color: lavenderblush; */
    /* width: 70%; */
}

/* profile header  */
.profile-header-container {
    /* height: 510px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 70, 70);
    position: sticky;
}

.profile-pics-container {
    background-color: coral;
}

.cover-photo {
    background-color: azure;
}

.profile-page-pic {
    background-color: cadetblue;
}

.profile-page-nav {
    background-color: cornsilk;
}

/* profile sidebar */
.profile-sidebar-container {
    /* grid-area: sidebar;
    justify-self: center; */
    background-color: rgb(87, 87, 170);
    margin-top: 20px;
    min-width: 400px;
}

/* profile posts */
.news-feed-post-container.profile {
    /* grid-area: posts;
    justify-self: center; */
    /* background-color: green; */
    /* width: 100%; */
    min-width: 500px;
}

